<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I am a web developer with experience in both back-end and front-end development. Over the past five years, I have developed web services for the manufacturing sector, gaining valuable experience through various projects at Samsung Electronics.
            </p>
            <p class="paragraph-text justify-text">
                In 2018, I contributed to the development of a program to manage Samsung Electronics' home appliances and mobile products (G-MES).
            </p>
            <p class="paragraph-text justify-text">
                More recently, in 2023, I participated in and contributed to the development of the Samsung Semiconductor environmental safety project (DS EHS).
            </p>
            <p class="paragraph-text justify-text">
                My main programming expertise lies in Java and React. I have extensive experience in Java Spring-based development, along with significant involvement in SAP projects utilizing React. Additionally, I have dedicated considerable time to personal study and projects focused on React, further enhancing my proficiency in this technology.
            </p>
        </div>
    </section>
</div>
