<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I am a web developer with experience in both back-end and front-end development. Over the past five years, I have developed web services for the manufacturing sector, gaining valuable experience through various projects at Samsung Electronics.
            </p>
            <p class="paragraph-text justify-text">
                In 2018, I contributed to the development of a program to manage Samsung Electronics' home appliances and mobile products (G-MES). More recently, in 2023, I participated in the development of the Samsung Semiconductor environmental safety project (DS EHS).
            </p>
            <p class="paragraph-text justify-text">
                My main programming expertise lies in <strong>Java</strong> and <strong>React</strong>:
            </p>
            <p class="paragraph-text justify-text">
                • <strong>Java :</strong> I have extensive experience in Java Spring-based development, having worked on numerous projects that required building robust and scalable back-end systems. My work has involved designing and implementing various services and APIs, ensuring high performance and security.
            </p>
            <p class="paragraph-text justify-text">
                • <strong>React :</strong> I have significant involvement in SAP projects utilizing React, where I contributed to developing interactive and responsive user interfaces. Additionally, I have dedicated considerable time to personal study and projects focused on React, further enhancing my proficiency in this technology.
            </p> 
            <p class="paragraph-text justify-text">
                These experiences have provided me with a solid foundation in both Java and React, enabling me to effectively handle complex development tasks and deliver high-quality solutions.
            </p>
        </div>
    </section>
</div>
